<!--<app-header></app-header>-->

<h1>This is the App component. </h1>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-sm-12">
      <input [(ngModel)] = "title"/>
    </div>
  </div>
  <div class="row">
    <app-create-server [userName] = "title" (createServerClicked)="addServer($event)"></app-create-server>
      
  </div>

  <div class = "row">
    <p>example of ngStyle and ngClass, input and output, *ngFor </p>
</div>


<div class = "row">
  <app-server *ngFor = "let s of servers; let i = index " [serverName] = "servers[i]"></app-server>
</div>



</div>